<!-- <div class="container">
  <div class="wraper">
    <div class="row">
      <div class="col-md-offset-2 col-md-10"> -->
        <div class="login-page">
        <div class="user-details">
          <!-- <div class="panel-heading">
         <h1> Login</h1>
        </div> -->
          <!-- <div class="panel-body"> -->
          <form class="form">
            <div class="form-group">
              <!-- <label>Username</label> -->
              <input type="text" placeholder="Username" class="form-control" [(ngModel)]="cred.username" name="username" />
            </div>
            <div class="form-group">
              <!-- <label>Password</label> -->
              <input type="password" placeholder="Password" class="form-control" [(ngModel)]="cred.password" name="password" />
            </div>
            <div class="form-group">
              <button class="btn btn-large btn-block btn-info shadow" (click)="authenticate()">Login</button>
            </div>
            <div class="form-group">
              <span>Not a user?</span>
              <span>&ensp;|&ensp;</span>
              <span>
                <a [routerLink]='["/register"]'>Register as a New User</a>
              </span>
            </div>
          </form>
          <!-- </div> -->
        </div>
        </div>
      <!-- </div>
    </div>
  </div>
</div> -->