.colorRed{
    color: red;
    font-size: 17px;
}

.colorBlack{
    color:  #5bc0de;
    font-size: 17px;
}

.glyphicon-heart{
    font-size: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltiptext {
    /* visibility: hidden;  */
    /* width: 120px; */
    min-width: 60px;
    background-color: #777;;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    padding-left: 10px;
    padding-right: 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #777 transparent transparent;
}

/* .tooltip:hover .tooltiptext {
    visibility: visible;
} */

.heart{
    position: relative;
    width: 100px;
    height: 90px;
    float: left;
}
.heart:before,
.heart:after{
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #fc2e5a;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.heart:after{
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}
